.firstsec {
  height: 800px;
  background-image: url(https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navlist {
  list-style: none;
}
.travel {
  position: absolute;
  left: 17%;
  top: 6%;
  letter-spacing: 5px;
}
.heading {
  padding-top: 10%;
}
.body {
  background-color: #07140d;
  font-family: "Noto Serif", serif;
}
.secondsec {
  height: 300px;
}
.img {
  border-radius: 20px;
}
.img1 {
  border-radius: 10px;
  transform: rotate(-10deg);
}
.img2 {
  border-radius: 10px;
  transform: rotate(15deg);
}
.text {
  z-index: 99;
  margin-left: -30px;
}
.thirdsec {
  height: 120px;
}
.fourthsec {
  height: 100px;
}
.fifthsec {
  height: 400px;
}
.pic1 {
  height: 200px;
  width: 240px;
  transform: rotate(-15deg);
}
.pic2 {
  height: 200px;
  width: 240px;
  transform: rotate(15deg);
}
.box1{
height:150px;
width: 150px;
}
