.firstsec {
  height: 800px;
  background-image: url(https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navlist {
  list-style: none;
}
.travel {
  position: absolute;
  left: 17%;
  top: 6%;
  letter-spacing: 5px;
}
.heading {
  padding-left: 18%;
  padding-top: 10%;
}
.heading2 {
  padding-left: 28%;
}

